:root {
  --toolbar-plus-right-sidebar-z-index: 2;
  --toolbar-plus-left-sidebar-z-index: 4;
}
.toolbar-plus-sidebar {
  position: fixed;
  top: var(--drupal-displace-offset-top);
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--drupal-displace-offset-top));;
  background-color: #fff;
  font-family: inter, sans-serif;
  inline-size: 17rem;
  border-inline-start: 1px solid #d8dfea;
  &.right-sidebar {
    right: 0;
    z-index: var(--toolbar-plus-right-sidebar-z-index);
    top: var(--drupal-displace-offset-top);
  }
  &.left-sidebar {
    /* It would be nice to use variables like left: --admin-toolbar-sidebar-width, but
    the all: reset that comes along with those variables reeks havoc on CKEditors.
    So, we need to reimplement what --admin-toolbar-sidebar-width does... */
    left: calc(4.5 * max(1rem, 16PX));
    z-index: var(--toolbar-plus-left-sidebar-z-index);
  }
}
[data-admin-toolbar="expanded"] .left-sidebar {
  left: calc(16.5 * max(1rem, 16PX));
}

@media (min-width: 64rem) {
  /* Move the off canvas over via displace.js */
  .dialog-off-canvas-main-canvas {
    margin-inline-end: var(--drupal-displace-offset-right);
  }
  #admin-toolbar {
    block-size: 100vh;
  }
}
