#toggle-edit-mode {
  &::before {
    display: block;
    flex-shrink: 0;
    width: calc(1.2 * var(--admin-toolbar-rem));
    height: calc(1.2 * var(--admin-toolbar-rem));
    content: "";
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 100% auto;
    mask-image: url(../assets/code.svg);
  }
  &.active {
    background-color: var(--admin-toolbar-color-blue-400);
    color: var(--admin-toolbar-color-white);
    &::before {
      background-color: var(--admin-toolbar-color-white);
    }
  }
}

.toolbar-plus-hidden {
  display: none !important;
}

#toolbar-plus .item-list li {
  margin: 0;
}
