/* The wrapper for all top bars. */
#toolbar-plus-top-bar {
  user-select: none;
  .active {
    background-color: var(--admin-toolbar-color-blue-400);
    color: var(--admin-toolbar-color-white);
    &::before {
      background-color: var(--admin-toolbar-color-white);
    }
  }
  .top-bar__left {
    justify-content: flex-start;
  }
  .top-bar__right {
    justify-content: flex-end;
  }
  &.top-bar {
    padding-inline: calc(var(--admin-toolbar-sidebar-width) + var(--admin-toolbar-space-32)) var(--admin-toolbar-space-32);
  }
}

.top-bar-icon {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

