<span class="toolbar-item">
    <input id="toolbar-plus-toggle" name="toggle_switch" type="checkbox" />
    <label for="toolbar-plus-toggle">{{ 'Edit' | t }}<span class="slide"></span></label>
</span>
