<div id="toolbar-plus-wrapper">
  <div id="toolbar-plus-width"></div>

  {% for tool in tools %}
  <style>
    .{{ tool.id}},
    .{{ tool.id}} a {
      cursor: url('{{tool.mouse_icon}}') 0 2, auto;
    }
  </style>
  <div class="tool-wrapper">
    <div class="toolbar-plus-button" data-tool={{ tool.id }}>
      <div class="button-wrapper">
        <div class="toolbar-plus-icon">
          <img src="{{ tool.toolbar_icon }}">
        </div>
        <div class="toolbar-plus-text">{{ tool.label }}</div>
      </div>
    </div>
    {% if tool.sub_tools is not empty %}
      {% for tool in tool.sub_tools %}
      <style>
        .{{ tool.id}},
        .{{ tool.id}} a {
          cursor: url('{{tool.mouse_icon}}') 0 2, auto !important;
        }
      </style>
      <div class="sub-tool">
        <div class="toolbar-plus-button" data-tool={{ tool.id }}>
          <div class="button-wrapper">
            <div class="toolbar-plus-icon">
              <img src="{{ tool.toolbar_icon }}">
            </div>
            <div class="toolbar-plus-text">{{ tool.label }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  </div>
  {% endfor %}
</div>
